<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device=width,
initial-scale=1">
    <title>자기소개</title>
    <LINK rel="stylesheet" type="text/css" href="./css/table.css">
    <LINK rel="stylesheet" type="text/css" href="./css/mainhead.css">
</head>
<body>
<h1 class="h1a">자기소개</h1>
<div>
  <table>
    <tr>
      <th><a href="info.html"> 기본정보 </a></th>
      <th><a href="link.html"> 성격 </a></th>
      <th><a href="hate.html"> 몰?루 </a></th>
    </tr>
      <tr>
          <td><img src="./img/info.jpg" width=170 height=200></td>
          <td><img src="./img/info.jpg" width=170 height=200></td>
          <td><img src="./img/info.jpg" width=170 height=200></td>
      </tr>
  </table>
    <br>
    <br>

    <h2 style="text-align:center;"><a href="ending.html">
        <img alt="마지막" src="./img/happy.jpg" width="200px"> </a></h2>
</div>

</body>
</html>